Dictionary/__pycache__/
Dictionary/ja4+_db.json
Dictionary/mock_results.json
Dictionary/dictionary_Egenlagd_result.json
Dictionary/dictionary_FoxIO_result.json
Dictionary/comparative_collision_matrix.png
Dictionary/comparative_top_k_accuracy.png
Dictionary/Random_Forest_result.json
Dictionary/raw_test_samples.json
Dictionary/Visualization/comparative_collision_matrix.png
Dictionary/Visualization/comparative_top_k_accuracy.png
Dictionary/Visualization/confusion_matrix_Dictionary_Egenlagd.png
Dictionary/Visualization/confusion_matrix_Dictionary_FoxIO.png
Dictionary/Visualization/confusion_matrix_Random_Forest.png
Dictionary/Results/Random_Forest_result.json
Dictionary/Results/dictionary_FoxIO_result.json
Dictionary/Results/dictionary_Egenlagd_result.json
Dictionary/egenlagd_db.json
Dictionary/Iteration1/firefox.json
