**__pycache__/
Dictionary/ja4+_db.json
Dictionary/mock_results.json
Dictionary/dictionary_Egenlagd_result.json
Dictionary/dictionary_FoxIO_result.json
Dictionary/comparative_collision_matrix.png
Dictionary/comparative_top_k_accuracy.png
Dictionary/Random_Forest_result.json
Dictionary/raw_test_samples.json
Dictionary/Visualization/comparative_collision_matrix.png
Dictionary/Visualization/comparative_top_k_accuracy.png
Dictionary/Visualization/confusion_matrix_Dictionary_Egenlagd.png
Dictionary/Visualization/confusion_matrix_Dictionary_FoxIO.png
Dictionary/Visualization/confusion_matrix_Random_Forest.png
Dictionary/Results/Random_Forest_result.json
Dictionary/Results/dictionary_FoxIO_result.json
Dictionary/Results/dictionary_Egenlagd_result.json
Dictionary/egenlagd_db.json
Dictionary/Iteration1/firefox.json
Dictionary/Iteration4/feature_importances.json
Dictionary/Iteration4/ja4_correlation_matrix.png
Dictionary/Iteration4/modularity_bot_CatBoost.png
Dictionary/Iteration4/modularity_bot_XGBoost.png
Dictionary/Iteration4/modularity_bot_Random_Forest.png
Dictionary/Iteration4/notes_with_ja4.txt
Dictionary/Iteration4/seed_results.txt
Dictionary/Iteration4/train_output.txt
Dictionary/Iteration4/catboost_info/catboost_training.json
Dictionary/Iteration4/catboost_info/learn_error.tsv
Dictionary/Iteration4/catboost_info/time_left.tsv
Dictionary/Iteration4/catboost_info/learn/events.out.tfevents
Dictionary/Results/correlated_Egenlagd_result.json
Dictionary/Results/foxio_Egenlagd_result.json
Dictionary/Visualization/app_distribution_large.png
Dictionary/Visualization/confusion_matrix_Dictionary_(Egenlagd).png
Dictionary/Visualization/prototype_predictions.png
Dictionary/Custom_DB/egenlagd_correlated_db.json
.Custom_Database
